{
    email {$ACME_EMAIL}
    acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
    admin 0.0.0.0:2019
}

# Homepage
homepage.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:3000
    tls {
        protocols tls1.3
    }
}

# Uptime Kuma
kuma.dc1.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:3001
    tls {
        protocols tls1.3
    }
}

caddymanager.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:81
    tls {
        protocols tls1.3
    }
}

netbox.dev.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:8001
    tls {
        protocols tls1.3
    }
}

# AdGuard Home
adguard.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:89
    tls {
        protocols tls1.3
    }
}

# Mailpit
devmailer.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:8025
    tls {
        protocols tls1.3
    }
}

# Portainer
portainer.rconfig.com {
    encode gzip
    reverse_proxy 10.1.1.4:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    tls {
        protocols tls1.3
    }
}
